{% if topic.web_url %} <a href="{{ topic.web_url }}" {% else %} <div {% endif %} class="github-component position-relative height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
  <div class="col">
    <img src="{{ topic.image_url }}" style="max-width: 64px" class="mx-auto mb-auto" alt="{{ topic.name }}">
  </div>
  <div class="col">
    <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">{{ topic.name }}</p>
    {% if topic.description %}
      <p class="f5 text-gray text-center mb-0 mt-1">{{ topic.description }}</p>
    {% endif %}
  </div>
{% if topic.web_url %} </a> {% else %} </div> {% endif %} 

