
@media screen {
.header-img {
	height: auto;
	width: 14em;
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}}

@media (max-width: 760px) {
.header-img {
	height: auto;
	width: 12em;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	clear: both;
	display: block;
}
}